Repository Renji-and-frens/meal-planner-backend, pull requests merged in 2024-04, with the labels that each got.

#18 Initial database design
  MPWebApi/MPWebApi.csproj
  MPWebApi/Sqls/DbCreate/DbCreate.sql
  MPWebApi/appsettings.json
  recipe_database.mwb
  recipe_database.mwb.bak
Labels: data layer

#19 #15 initial model project creation
  MPBackEnd.Common/BaseModel.cs
  MPBackEnd.Common/Identifiable.cs
  MPBackEnd.Common/MPBackEnd.Common.csproj
  MPBackEnd.Common/Models/Ingredient.cs
  MPBackEnd.Common/Models/IngredientGroup.cs
  MPBackEnd.Common/Models/Origin.cs
  MPBackEnd.Common/Models/Recipe.cs
  MPBackEnd.Common/Models/Tag.cs
  MPWebApi/MPWebApi.csproj
Labels: infrastructure, data layer

#12 Daniel/docker setup
  .gitignore
  .idea/.gitignore
  .idea/meal-planner-backend.iml
  .idea/modules.xml
  .idea/vcs.xml
  README.md
  docker-compose.yml
Labels: documentation, data layer

#20 Issue11 based.cooking dataset exporting tool
  BasedCookingRecipeParser/BasedCookingRecipeParser.csproj
  BasedCookingRecipeParser/Extensions.cs
  BasedCookingRecipeParser/OpenAIClient.cs
  BasedCookingRecipeParser/Program.cs
  Datasets/Recipes/2024-04-20 095814_ingredient_details.json
  MPBackEnd.Common/BaseConstants.cs
  MPBackEnd.Common/Models/Author.cs
  MPBackEnd.Common/Models/Ingredient.cs
  MPBackEnd.Common/Models/IngredientDetails.cs
  MPBackEnd.Common/Models/IngredientGroup.cs
  MPBackEnd.Common/Models/Recipe.cs
  MPBackEnd.sln
  MPWebApi/Properties/launchSettings.json
Labels: infrastructure, data layer
